<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Guest Sign Up</h2>

                        <form  action="<%="localhost/300" %>" method="POST" class="register-form" id="register-form" >
                                                   <div class="form-group">
                                                       <label for="first_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                                       <input type="text" name="guest[first_name]" id="first_name" placeholder="Your First Name"/>
                                                   </div>
                                                   <div class="form-group">
                                                       <label for="last_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                                       <input type="text" name="guest[last_name]" id="last_name" placeholder="Your Last Name"/>
                                                   </div>
                                                   <div class="form-group">
                                                       <label for="email"><i class="zmdi zmdi-email"></i></label>
                                                       <input type="email" name="guest[email]" id="email" placeholder="Your Email"/>
                                                   </div>
                                                   <div class="form-group">
                                                       <label for="number"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                                       <input type="number" name="guest[phone]" id="phone" placeholder="Optional: Your Phone Number"/>
                                                   </div>

                                                   <div class="form-group form-button">
                                                       <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                                                       <!-- need to replace https:... with a more abstack solution -->
                                                       <input type="button" onclick="window.location.href = 'https://nya-art.herokuapp.com<%=  %>';" class="form-submit" value="View list" />

                                                   </div>


                                                   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

                                                 </form>

                    </div>
                    <div class="signup-image">
                        <figure> <%= image_tag("signup-image.jpg", alt: "sing up image") %></figure>
                        <a href="#" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>



    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
